@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  #menu-paginas ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  #menu-paginas a {
    font-size: 24px;
  }

  #headerLogo img {
    width: 100px;
    height: auto;
  }

  .box-link,
  .box-zelda,
  .box-ganon,
  .box-revali,
  .box-urbosa,
  .box-daruk,
  .box-mipha {
    display: flex;
    flex-direction: column !important;
    text-align: center;
    padding: 15px;
    align-items: center;
    flex-wrap: wrap;
  }

  .box-link img,
  .box-zelda img,
  .box-ganon img,
  .box-revali img,
  .box-urbosa img,
  .box-daruk img,
  .box-mipha img {
    width: 80%;
    margin: 0 auto 15px auto;
  }

  .box-link p,
  .box-zelda p,
  .box-ganon p,
  .box-revali p,
  .box-urbosa p,
  .box-daruk p,
  .box-mipha p {
    font-size: 14px;
    max-width: 100%;
    padding: 10px;
  }

  footer p {
    font-size: 10px;
    text-align: center;
  }
}
